p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.carousel-item {
  height: 500px;
}

.item,
img {
  position: absolute;
  object-fit: cover;
  height: 100% !important;
  width: 100% !important;
  /*min-height: 500px;*/
}

@media(min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33%;
  }
}

.divid {
  margin: 5rem 0;
}