body {
  background: url(img/background/2392614.jpg);
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px; /* remove this later */
}

img {
  float: left;
  width:  300px;
  height: 300px;
  object-fit: cover;
}

.tt {
  height: 200px;
  width: 200px;
}

/* Media */
/* @media (max-width: 990px) {
  .card {
    display: block;
    margin: 10px;
    padding: 10px;
  }
} */