body {
  font-family: "Raleway", sans-serif;
  background: red;
}

.navbar {
  font-weight: 100;
}

.navbar h3 {
  font-weight: 100;
}

.nav-item {
  font-size: 1.4rem;
}

.nav-link:hover {
  transition: border 0.4s;
  border-bottom: 1px solid white;
}

.navbar-nav {
  margin-left: auto;
}

.btn-primary {
  background-color: #36b3a8;
  font-size: 1.5rem;
  border-radius: 2rem;
}

#showcase {
  /* background-image: url("images/main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px; */
}

/* Media Query */

@media(max-width: 768px) {
  .navbar {
    background: #1f1f1f;
  }

  .nav-link:hover {
    border-bottom: none;
  }

  #showcase {
    min-height: 500px;
  }

  h1 {
    font-size: 4rem;
  }
}