/* Style */

/* Add media queries later */


.home {
  height: 550;
  background-image: url(IMG/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 20px 0;
}

.yo {
  background-color: rgb(207, 228, 248);
}

#img1 {
  max-height: 500px;
  min-width: 100px
}